# --- ANALISI DATI E FINANZA ---
pandas
numpy
yfinance
pandas-datareader
setuptools

# --- CALCOLO SCIENTIFICO E OTTIMIZZAZIONE ---
scipy
matplotlib

# --- INTEGRAZIONE IA ---
ollama

# --- API BACKEND ---
fastapi
uvicorn[standard]
pydantic